h1 {
	text-align: center;
	text-transform: capitalize;
}

.form {
	/* display: flex; */
	/* margin: 0 auto; */
	/* justify-content: center; */
	background-color: rgb(154, 199, 184);
	width: 40vw;
	margin: 0 auto;
	padding: 2rem 1rem;

}

.form input {
	display: block;
	padding: 1rem 0.3rem;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 0.2rem;

}